@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply px-2 py-1 font-bold border-2 rounded-lg cursor-pointer border-zinc-500 inline-flex justify-center items-center;
    box-shadow: 0 2px #7A7171;
}

.button:active {
    box-shadow: none;
    transform: translateY(2px);
}

.input {
    @apply px-2 py-1 font-bold border-2 rounded-lg border-zinc-500 inline-block;
}